bandit[toml]==1.7.8
black[jupyter]==24.4.2
build==1.2.1
coverage==7.5.3
isort[colors]==5.13.2
lightning==2.3.3
matplotlib==3.9.1
mne==1.7.0
mnelab==0.9.1
mypy==1.10.0
numpy==1.26.4
pydantic-settings==2.3.1
pylint==3.2.2
pytest==8.2.1
PyWavelets==1.6.0
pyxdf==1.16.6
requests==2.32.3
scikit-learn==1.5.0
scipy==1.14.0
torch==2.3.1
tqdm==4.66.4


xlwt
resampy
